body{
    background-image:url("movie theater.gif");
    background-size: 1600px;
    background-color: black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.moviesearch{
    size: 100px;

}

.submit{
    border-radius:12px;
    font-size: large;
}

